$colores-sitio: (

color1: blue,
color2: white,
color3: black

);

$colores-interactivos: (
    
    color1: #001ec594,
    color2: #b6b6b641,
    color3: #d4d4d4

);

$fuentes-size: (

lg: 4rem,
md: 2.5rem,
sm: 1.5rem,
xs: 16px

);