body {
    font-family: "Oswald", sans-serif;
    background-color: map-get($map: $colores-sitio, $key: color3 );
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}