nav {
    display: flex;
    width: 100%;
    gap: 20%;
    justify-content: center;
    align-items: center; 

        .navbar {
            display: flex;
            list-style: none;
            gap: 25px;
            margin: 0;
        }

        li {
            a {
            display: flex;
            font-size: map-get($fuentes-size, sm );
            color: map-get($colores-sitio, color2 );
            text-decoration: none;
            text-align: center;

            &:hover{
                color: map-get($map: $colores-interactivos, $key: color3 )
            }
        }
    }

        .bnav {
            background-color: map-get($colores-sitio, color1);
            font-size: map-get($fuentes-size, sm );
            font-family: "Oswald", sans-serif;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
            background-color:map-get($colores-interactivos, color1);
            }
        }
    }
