@media (max-width: 750px) {
    .abtUno {
        flex-direction: column; 
        margin: 20px; 
    }
    .abtUno h1, .abtUno p {
        text-align: center; 
        padding: 0; 
    }
}

@media (max-width: 750px) {
    .abtDos img {
        width: 90%; 
        height: auto; 
    }
}

@media (max-width: 7580px) {
    .abtTres {
        flex-direction: column; 
        margin: 20px; 
    }
    .abtTres h1, .abtTres p {
        text-align: center;
        padding: 0;
        margin-right: 0; 
    }
    .abtTres img {
        margin-right: 0; 
        width: 90%; 
        height: auto;
    }
}