@media (max-width: 635px) {
    .bannerPrincipal {
        @include flex(column, center, center, 0);
        padding: 1vh;
        margin: 0;
        align-items: center;
        text-align: center;

        .imagenPrincipal {
            order: 2;
            width: 100%;
            margin: 0;

            img {
                max-width: 300px;
                min-width: 150px;
                height: auto;
            }
        }

        .bannerText {
            width: 100%;
            height: auto;
            padding: 10px 5px;

            h1 {
                font-size: map-get($fuentes635, lg);
                align-self: center;
                margin: 0;
                margin-bottom: 10px;
            }

            p {
                font-size: map-get($fuentes635, sm);
                padding-bottom: 0;
                margin: 0;
            }
        }

        .botonPresentacion,
        .botonServiciosIndex {
            font-size: map-get($fuentes635, sm);
        }
    }

    //Index Secundario 

    .tituloBannerSecundario {
        margin-top: 0;
        h2{
            font-size: map-get($fuentes635 , md )
        }
    }

    .cajasBanner {
        flex-direction: column;
        align-items: center;
    }

    .postCaja {
        p {
            padding: 15px;
        }
    }

    .landingFinal {
        gap: 20px;
        flex-direction: column;
        text-align: center;

        img {
            justify-self: center;
            max-width: 180px;
            min-width: 100px;
            height: auto;
        }

        button {
            font-size: map-get($fuentes635, sm);
        }

    }

}

@media (max-width: 635px) {
    .contenedorServices {
        padding: 2vh 3vh;
        gap: 20px;

        img {
            max-width: 150px;
            min-width: 50px;
            height: auto;
        }

        h1 {
            font-size: map-get($fuentes635 , sm);
            padding: 0;
            padding-top: 5px;
        }

        p {
            font-size: map-get($fuentes635 , xs);
            padding-top: 5px;
        }

    }
}

//About Us Page 

@media (max-width: 635px) {
    .abtUno {
        display: flex;
        flex-direction: column;
        margin: 25px 25px 0 25px;
        text-align: center;
        align-items: center;
        gap: 20px;

        h3 {
            font-size: map-get($fuentes635 , lg);
            padding: 0px 16px;
            text-align: center;
        }

        img {
            max-width: 180px;
            min-width: 90px;
        }


        p {
            font-size: map-get($fuentes635 , sm);
            padding: 10px 16px;
            text-align: center;
        }

    }

    .abtDos {
        margin-top: 10px;

        h3 {
            font-size: map-get($fuentes635 , lg);
            padding: 0px 16px;
            text-align: center;
        }

        p {
            font-size: map-get($fuentes635 , sm);
            padding: 10px 16px;
            text-align: center;
        }

        img {
            max-width: 250px;
            min-width: 150px;
            height: auto;
        }
    }

    .abtTres {
        display: flex;
        flex-direction: column;
        margin: 25px;
        text-align: center;
        align-items: center;
        gap: 20px;

        h3 {
            font-size: map-get($fuentes635 , lg);
            padding: 0px 16px;
            text-align: center;
        }

        img {
            max-width: 180px;
            min-width: 90px;
            margin: 0 auto;
        }


        p {
            font-size: map-get($fuentes635 , sm);
            padding: 10px 16px;
            text-align: center;
        }
    }
}

// FAQs Section

@media (max-width: 635px){
    .containerFaqs{
        grid-template-columns: 1fr;
        grid-template-areas:
            "tituloFaqs"
            "faqUno"
            "faqDos"
            "faqTres"
            "faqCuatro"
            "faqCinco"
            "faqSeis"
            "faqSiete"
            "faqOcho"
            "faqNueve"
            "faqDiez"
            "faqOnce"
            "faqDoce";
    }
}